.large-hero {
  position: relative;

  &__text-content {
    /* We want the text content to sit on top of its parent large-hero which has position relative, so let's use position absolute */
    position: absolute;
    top: 50%;
    left: 0;
    /* to make it text center */
    width: 100%;
    text-align: center;
    /* position the element vertically relative to itself */
    transform: translateY(-50%);
  }

  &__title {
    font-weight: 300;
    color: #2f5572;
    font-size: 4.8rem;
  }

  &__subtitle {
    font-weight: 300;
    color: #2f5572;
    font-size: 2.9rem;
  }

}
