.page-section {
  /* padding for mobile */
  padding: 1.2rem 0;

  @mixin atMedium {
    /* padding top & bottom for each section when atMedium */
    padding: 4.5rem 0;
  }

  &--blue {
    background-color: $mainBlue;
    color: #FFF;
  }


}