.site-header {
  padding: 10px 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  transition: background-color .3s ease-out;

  &--is-expanded {
    background-color: rgba($mainBlue, .55)
  }

  @mixin atMedium {
    position: fixed;
    background-color: rgba($mainBlue, .3);

    &--dark {
      background-color: rgba(23, 51, 72, .85);
    }
  }

  &__btn-container {
    @mixin atMedium {
      float: right;
    }
  }

  &__logo {
    /* set to absolute to create a stack context, so header will depend its vertical spacing on list not on logo image */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.8);
    transition: transform .3s ease-out;
    transform-origin: 50% 0;
    background-color: $mainBlue;
    padding: 25px 36px;

    @mixin atMedium {
      /* larger screen default */
      left: auto;
      transform: translateX(0);

      .site-header--dark & {
        transform: scale(.57);
      }
    }
  }

  &__logo__graphic {
    /* Push away the text so it won't appear on the top of logo */
    text-indent: -9999px;
  }

  &__menu-icon {
    width: 20px;
    height: 19px;
    /* stay on top */
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;

    /* Create the Hamburger Menu Icon */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      /* In order for X icon to set pivot/origin point top left corner to stay exactly where it is */
      transform-origin: 0 0;
      transition: transform .3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 8px;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      transform: all .3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 20px;
      height: 3px;
      background-color: #FFF;
      /* For Icon X set pivot/origin point bottom left corner to stay exactly where it is */
      transform-origin: 0 100%;
      transition: transform .3s ease-out;
    }

    @mixin atMedium {
      /* larger screen default */
      display: none;
    }
  }

  &__menu-icon--close-x {
    /* Create the X Menu Icon */
    &::before {
      transform: rotate(45deg) scaleX(1.25);
    }

    /* Hide the middle line */
    .site-header__menu-icon__middle {
      opacity: 0;
      /* shrink the width for animation */
      transform: scale(0);
    }

    &::after {
      transform: rotate(-45deg) scaleX(1.25) translateY(1px);
    }
  }

  &__menu-content {
    /* small screen default, menu will be hidden  */
    opacity: 0;
    /* Zoom-out effect */
    transform: scale(1.2);
    transition: all .3s ease-out;
    /* put the hidden menu behind all elements so user won't accidentally click it */
    position: relative;
    z-index: -10;
    padding-top: 90px;
    text-align: center;

    @mixin atMedium {
      opacity: 1;
      z-index: 1;
      padding-top: 0;
      transform: scale(1);
    }

    /* Toggle Menu Content */
    &--is-visible {
      opacity: 1;
      z-index: 1;
      /* put back to its original size */
      transform: scale(1);
    }
  }
}